<app-select-screen-progressbar></app-select-screen-progressbar>

<div class="add-repository-body">
  <h1>Clone from Internet</h1>
  <div class="input-body">
    <div class="input-group">
      <input type="text" class="form-control" [formControl]="cloneUrlForm" placeholder="https://github.com/user/repository.git" 
            onfocus="this.placeholder=''" onblur="this.placeholder='https://github.com/user/repository.git'"/>
    </div>
    <br>
    <div class="input-group">
      <input type="text" class="form-control" readonly [formControl]="cloneDirectoryForm" (click)="chooseCloneDirectory()" placeholder="clone into"/>
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="clone()" [disabled]="cloneUrlForm.invalid || cloneDirectoryForm.invalid">Clone</button>
      </div>
    </div>
  </div>

  <h1>Open Local Repository</h1>
  <div class="input-body">
    <div class="input-group">
      <input type="text" class="form-control" readonly placeholder="Location of existing repository" [formControl]="localRepositoryPathForm" (click)="chooseLocalRepository()"/>
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="open()" [disabled]="localRepositoryPathForm.invalid">Open</button>
      </div>
    </div>
  </div>

  <h1>Add SSH Credentials</h1>
  <div class="input-body" [formGroup]="sshForm">
    <div class="input-group">
      <input type="text" class="form-control" readonly formControlName="publicPath" (click)="chooseSSHDirectory()" placeholder="public key"/>
      <input type="text" class="form-control" readonly formControlName="privatePath" (click)="chooseSSHDirectory()" placeholder="private key"/>
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="saveSshKeys()" [disabled]="sshForm.invalid">Save</button>
      </div>
    </div>
  </div>

</div>

<div class="create_repo">
  <h1>Create Repository</h1>
  <div class="input-body" [formGroup]="creatRepoFrom">
    <div>
      <input type="text" class="form-control" readonly formControlName="repoLocaltion" (click)="chooseRepoLocaltion()" placeholder="Localtion"/>
    </div>
    <br>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="repoCreateInit">
      <label class="form-check-initREADME">Initialize this repository with a README</label>
    </div>
    <br>
    <div ngbDropdown class="add_gitignore">
      <button ngbDropdownToggle>Add .gitignore: {{choosedTemplate}} </button>
      <div ngbDropdownMenu class="show_gitignore_templates">
        <button ngbDropdownItem *ngFor="let template of gitignoreTemplates" (click)="addGitignoreTemplate(template)">{{template}}</button>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="createRepo()" [disabled]="creatRepoFrom.invalid">Create Repository</button>
  </div>
</div>
