@import "themes.scss";

:host {
  height: 100%;
  width: 100%;

  background-color: var(--surface);
  box-sizing: border-box;
}

.add-repository-body {
  padding: 50px;
  float: left;
}


h1 {
  margin-top: 30px;
  margin-bottom: 30px;

  color: white;
}
.input-body {
  max-width: 25vw;

  margin-left: 30px;
}

.form-check-initREADME{
  color: white;
}

.show_gitignore_templates {
  overflow-y: auto;
  height: 400px;
}

.create_repo{
  float: left;
  padding: 50px;
  width: 50%;
}

.current_template{
  background-color: var(--surface);
  border: 0;
  color: white;
}

