.fixed_header{
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:grid;
  width: 100%;
  overflow: auto;
  height: 150px;
}

.create-branch-input {
    width: 250px;
    display: inline-block;
    margin-right: 55px;
}

.table-row {
    cursor: pointer
}

.search-branch-input {
    margin-bottom: 10px;
    width: 467px;
}

.btn {
    color:white;
    background: green;
}



