<nav [hidden]="!loggedIn" class="toolbar full-width navbar navbar-expand-lg" role="navigation">
  <!-- Header row, for navigation to other pages -->

  <!-- Navbar expansion button -->
  <button type="button" class="icon-btn expansion-btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar">
    <img class="icon" [src]="isCollapsed ? './assets/Show-toolbar-inverted.svg' : './assets/Hide-toolbar-inverted.svg'">
  </button>

  <!-- Screen selection -->
  <button class="icon-btn"><img src="./assets/AddRepositoryFolder.svg" (click)="gotoAddRepository()" class="icon"
      title="Add Repository"></button>

  <!-- Collapsible menu giving options for repository management -->
  <!-- NOTE: Uses https://getbootstrap.com/docs/4.0/components/navbar/ -->
  <div class="toolbar header-left navbar" id="navbar" [hidden]="isCollapsed">
    <!-- Left side navbar part, showing repository dropdown and branch dropdown -->
    <div class="horizontal-align navbar-nav mr-auto">

      <!-- Repo list -->
      <div [hidden]="!currentRepo && !repositories"><img src="./assets/RightArrow.svg" class="right-arrow"></div>
      <div ngbDropdown class="nav-item" [hidden]="!currentRepo && !repositories">
        <button ngbDropdownToggle class="dropdown-btn">{{currentRepo || "repository"}}</button>
        <div ngbDropdownMenu class="scrollable-menu">
          <button ngbDropdownItem *ngFor="let repo of repositories" (click)="selectRepository(repo)">{{repo.uniqueName}}</button>
        </div>
      </div>

      <div [hidden]="!currentRepo"><img src="./assets/RightArrow.svg" class="right-arrow"></div>

      <!-- Branch list -->
      <button [hidden]="!currentRepo" class="btn branch-button-style" (click)="openBranchModal()">Current Branch: {{currentBranch || "branch"}}</button>
    </div>

    <!-- Repo Github options. Presented as icons, on far left. -->
    <div class="button-bar toolbar navbar-nav ml-auto" [hidden]="!currentRepo">
      <button class="icon-btn" (click)="toggleTag()"> <img class="icon" src="./assets/Tag.svg" title="Tag"> </button>
      <button class="icon-btn" (click)="issue()"><img class="icon" src="./assets/Issues.svg" title="Issues"></button>
      <button class="icon-btn" (click)="openMergeModal()"><img class="icon" src="./assets/Merge.png" title="Merge"></button>
      <button class="icon-btn" (click)="push()"> <img class="icon" src="./assets/Push.svg" title="Push"> </button>
      <button class="icon-btn" (click)="pull()"> <img class="icon" src="./assets/Pull.svg" title="Pull"> </button>
      <button class="icon-btn" (click)="clean()"><img class="icon" src="./assets/Clean-Dark.svg" title="Clean"></button>
      <button class="icon-btn" (click)="sync()"> <img class="icon" src="./assets/refresh-button.png" title="Sync"></button>
    </div>

    <li ngbDropdown *ngIf="userIconUrl" placement="bottom-right" class="navbar-nav user-menu">
      <button ngbDropdownToggle *ngIf="userIconUrl" class="icon-btn"><img class="icon" [src]="userIconUrl"></button>
      <div ngbDropdownMenu>
        <!--<span ngbDropdownItem disabled>{{userService.getUser().name}}</span>-->
        <!-- Need to replace guest user's URL as "/<Default name>"-->
        <span ngbDropdownItem disabled>Signed in as <b>{{this.username}}</b></span>
        <button ngbDropdownItem (click)="toggleHelp()">Help</button>
        <button ngbDropdownItem (click)="toggleSetting()">Settings</button>
        <button ngbDropdownItem (click)="toggleLog()">{{loggedIn ? "Logout" : "Login"}}</button>
      </div>
    </li>

  </div>
</nav>

<notifier-container></notifier-container>
<app-header-branch #branch></app-header-branch>
<app-header-tags #tags></app-header-tags>
<app-header-merge #merge></app-header-merge>
