
:host {
  display: block;

  background-color: var(--surface);
  border-bottom: 2px solid var(--background);
}

.header-left {
  width: 100%;
  padding: 0px;
}

.navbar {
  height: 100%;
  align-items: center;

  & > ul {
    height: 100%;
    align-items: center;
  }
}

.expansion-btn {
  margin-right: 30px;
}

.right-arrow {
  opacity: 0.7;
}

.scrollable-menu {
  height: auto;
  max-height: 70vh;
  overflow-x: hidden;
}

.btn-color {
  color: white;
  background: green;
}
.form-group {
  margin-bottom: 10px;
  height: 37px;
  padding-bottom: 5px;
  margin-right: 10px;
}

