
:host {
  display: block;

  background-color: var(--surface);
  border-bottom: 2px solid var(--background);
}

.header-left {
  width: 100%;
  padding: 0px;
}

.navbar {
  height: 100%;
  align-items: center;

  & > ul {
    height: 100%;
    align-items: center;
  }
}
.icon-btn {
  margin: 0px 5px !important;
  height: 42px;
  width: 42px;
}

.icon {
  width: 100%;
  height: auto;
}

.toolbar {
  display: inline-flex;
  flex-wrap: nowrap !important;
}

.right-arrow {
  opacity: 0.7;
}

.branch-button-style {
  color: black;
  background: white
}
.form-group {
  margin-bottom: 10px;
  height: 37px;
  padding-bottom: 5px;
  margin-right: 10px;
}

.full-width {
  width: 100%;
}

.horizontal-align {
  flex-direction: row !important;
}

.button-bar {
  display: inline-block;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}