
:host {
  display: block;

  background-color: var(--surface);
  border-bottom: 2px solid var(--background);
}

.header-left {
  width: 100%;
  padding: 0px;
}

.navbar {
  height: 100%;
  align-items: center;

  & > ul {
    height: 100%;
    align-items: center;
  }
}

.expansion-btn {
  margin-right: 30px;
}
.right-arrow {
  opacity: 0.7;
}
