.tag-table {
    max-height: 300px;

    .table-nowrap {
        table-layout:fixed;
    }
    
    .table-nowrap td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    
    }
}

.tag-form {
    padding: 10px;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input,select {
        width: 80%;
        height: 40px;
    }
}

.btn {
    float: right;
}

