$black: #000;
$white: #fff;
// $light-grey: #adafb2; - another good light grey color
$light-grey: #ccc;
$medium-grey: #828282;
$dark-grey: #282828;
$dark-grey-hover: #404040;
$darker-grey: #181818;
$green: #84db00;
$file-created: #84db00;
$file-modified: #ff7514;
$file-deleted: #ff2448;
$teal: #39c0ba;

.dark-theme {
  // Primary foreground colour
  --primary: #84db00;
  --primary-darker: #000; // The darker variant can be for e.g. borders

  // Secondary foreground colour
  --secondary: #39c0ba;
  --secondary-darker: #000;

  // Background is the very back of the page
  --background: #282828;
  // Surface is a background for 'content' (i.e. typically you have background < surface < primary)
  --surface: #181818;
  --surface-surround: #222222; // Used for outlines
  --surface-highlight: #404040;

  // Error/Effect colours
  --good-effect: #84db00;
  --mild-effect: #404040;
  --warn-effect: #ff7514;
  --error-effect: #ff2448;

  // These colours are for text/contrast on the above colours.
  --on-primary: #fff;
  --on-secondary: #fff;
  --on-background: #fff;
  --on-surface: #fff;
}

.light-theme {

	--primary: #ccc;
	--primary-darker: #a4a4a4;

	--secondary: #6b6b6b;
	--secondary--darker: #626262;

	--background: #ececec;

	--surface: #aeaeae;
	--surface-surround: #fcfcfc;
	--surface-highlight: #ddd;

	--good-effect: #84db00;
	--mild-effect: #404040;
	--warn-effect: #ff7514;
	--error-effect: #ff2448;

	--on-primary: #000;
	--on-secondary: #000;
	--on-background: #000;
	--on-surface: #000;

}

.pink-theme{

	--primary: #ff00ff;
	--primary-darker: #0d0b0d;

	--secondary: #cc33ff;
	--secondary-darker: #0d0b0d;

	--background: #ff00ff;

	--surface: #dd00aa;
	--surface-surround: #dd00aa;
	--surface-highlight: #ff6699;

	--good-effect: #84db00;
	--mild-effect: #404040;
	--warn-effect: #ff7514;
	--error-effect: #ff2448;

	--on-primary: #fff;
	--on-secondary: #fff;
	--on-background: #fff;
	--on-surface: #fff;

}

.green-theme{

	--primary: #009900;
	--primary-darker: #007700;

	--secondary: #006633;
	--secondary-darker: #004411;

	--background: #006600;

	--surface: #009900;
	--surface-surround: #006600;
	--surface-highlight: #33cc33;

	--good-effect: #84db00;
	--mild-effect: #404040;
	--warn-effect: #ff7514;
	--error-effect: #ff2448;

	--on-primary: #fff;
	--on-secondary: #fff;
	--on-background: #fff;
	--on-surface: #fff;

}

.blue-theme{

	--primary: #00ffff;
	--primary-darker: #00dddd;

	--secondary: #66ccff;
	--secondary-darker: #33aadd;

	--background: #00ffff;

	--surface: #66ccff;
	--surface-surround: #3399ff;
	--surface-highlight: #33cccc;

	--good-effect: #84db00;
	--mild-effect: #404040;
	--warn-effect: #ff7514;
	--error-effect: #ff2448;

	--on-primary: #000;
	--on-secondary: #000;
	--on-background: #000;
	--on-surface: #000;

}

.navy-theme{

	--primary: #0011aa;
	--primary-darker: #0011dd;

	--secondary: #0000cc;
	--secondary-darker: #0000aa;

	--background: #000877;

	--surface: #0000cc;
	--surface-surround: #0011aa;
	--surface-highlight: #0000aa;

	--good-effect: #84db00;
	--mild-effect: #404040;
	--warn-effect: #ff7514;
	--error-effect: #ff2448;

	--on-primary: #fff;
	--on-secondary: #fff;
	--on-background: #fff;
	--on-surface: #fff;

}

