@import "themes.scss";;

.file-panel {
  height: 100%;

  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  background-color: var(--background);
  color: var(--on-background);

  border: 1px solid var(--surface-surround);

  .empty-message {
    padding: 20px;
    text-align: center;
  }

  .commit-panel {
    flex: initial;

    .commit-message-input {
      display: block;

      width: 90%;
      max-height: 100px;

      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;

      border-radius: 5px;
      padding: 5px;

      resize: none;
    }

    .commit-button {
      display: block;

      height: 30px;

      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 10px;

      border-radius: 10px;
      border: 0;
      padding: 0 15px;

      background-color: var(--secondary);
      color: var(--on-secondary);

      &:hover {
        opacity: 0.8;
      }
    }
  }

}

// For the header row for staged files
.files-header {
  flex: initial;

  display: flex;
  flex-direction: row;

  .stage-all-btn{
    margin-right: 0px;
    flex: initial;
  }

  .header {
    flex: 1 1 auto;
    text-align: center;
    min-height: 35px;

    margin: 0;

    background-color: var(--surface);

    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--surface-surround);

    font-size: 1.5em;
    font-weight: bold;
  }
}

// For the file selection lines
.file-list {
  overflow-y: auto;
  flex: 1 1; // No flex-basis as the file list should be always equal to the amount of remaining space
}
.input-group {
  width: 100%;
  flex-wrap: nowrap;

  // Stage file checkbox
  .input-group-prepend .input-group-text {
    background-color: var(--surface-highlight);
    border-color: var(--surface-surround);
  }

  // Select file/display file
  .btn {
    // Fix to these buttons not being connected properly to the checkbox coming beforehand
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    // Fix label sizing
    margin: 0px;

    background-color: var(--secondary);
    border-color: var(--surface-surround);

    // Prevent the label from moving to the next line if theres not enough space (will shrink instead)
    flex: 1;

    // Allow the text to wrap over multiple lines, so that we can shrink down as far as possible
    min-width: 0;
    overflow-wrap: break-word;

    &:active, &.active {
      text-decoration: underline;
    }

    // Hidden radio control
    input {
      display: none;
    }
  }
  // Colouring for different file kinds
  &.created .btn {
    background-color: var(--good-effect);
  }

  &.modified .btn {
    background-color: var(--warn-effect);
  }

  &.removed .btn {
    background-color: var(--error-effect);
  }

  &.renamed .btn {
    background-color: var(--mild-effect);
  }
}
