<div class="file-panel">
  <!-- List of staged changes -->
  <!-- <div class="files-changed"> -->
    <div class="staged-files-header">
      <h5 class="header">staged</h5>
      <button type="button" class="btn btn-outline-secondary " (click)="unstageAll()">&#9660;</button> <!-- Down arrow -->
    </div>

    <p class="empty-message" *ngIf="!(staged)">Your staged files will appear here</p>
  <div class="file-list">
    <!-- Each row -->
    <div [ngClass]="['input-group', patchType(patch)]" *ngFor="let patch of staged; let i = index">
      <!-- Unstage button -->
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="unstage(patch)">&#9660;</button> <!-- Down arrow -->
      </div>

      <!-- Select file button. Uses radios for toggling capability (i.e. only one file can be selected at a time) -->
      <label class="btn btn-secondary shadow-none" [class.active]="selected.value === patch">
        {{patch.newFile().path()}}
        <input type="radio" [formControl]="selected" [value]="patch">
      </label>
    </div>
  </div>

  <!-- List of unstaged changes -->
  <!-- Unfortunately we cant use a radio group due to the nesting, so have to roll our own -->
  <!-- <div class="files-changed"> -->
    <div class="staged-files-header">
      <h5 class="header"> unstaged</h5>
      <button type="button" class="btn btn-outline-secondary stage-all-btn" (click)="stageAll()">&#9650;</button> <!-- Up arrow -->
    </div>
    

    <p class="empty-message" *ngIf="!(unstaged)">Your modified files will appear here</p>
  <div class="file-list">
    <!-- Each row -->
    <div [ngClass]="['input-group', patchType(patch)]" *ngFor="let patch of unstaged; let i = index">
      <!-- Stage button -->
      <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" (click)="stage(patch)">&#9650;</button> <!-- Up arrow -->
      </div>

      <!-- Select file button. Uses radios for toggling capability (i.e. only one file can be selected at a time) -->
      <label class="btn btn-secondary shadow-none" [class.active]="selected.value === patch">
        {{patch.newFile().path()}}
        <input type="radio" [formControl]="selected" [value]="patch">
      </label>
    </div>

  </div>

  <div class="commit-panel align-bottom">
    <textarea class="commit-message-input" placeholder="Describe your changes here..." [formControl]="commitMessage"></textarea>
    <button type="button" class="commit-button" (click)="commit()">Commit</button>
  </div>
</div>
